{
  "rewrites": [
    {
      "source": "/pngpay",
      "destination": "https://pngpay.fly.dev/pngpay"
    },
    {
      "source": "/pngpay/:path*",
      "destination": "https://pngpay.fly.dev/pngpay/:path*"
    }
  ]
}
