.flash-screen {
  animation: redflash 0.8s infinite;
}

@keyframes redflash {
  0% { background-color: rgba(255, 0, 0, 0.08); }
  50% { background-color: rgba(255, 0, 0, 0.3); }
  100% { background-color: rgba(255, 0, 0, 0.08); }
}
